  #loader {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: 9999;
    background-image: url('../src/assets/img/cuia006.gif');
    background-repeat: no-repeat;
    background-position: center center;
}