* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

 .cabecalho{
     overflow: hidden;
     background-color:#23b23ed1;
     padding: 0px 30px;
     height:50px;
     width: 100%;
    z-index: 2;
   
 }

 header #logoChimas{
  position: absolute;
  top: 1px;
  z-index: 3;
  padding: 0px 20px;
 }

 .menu{
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
  font-family: serif; 
 }




  /* quando a tela tiver 500px de largura ou menos, empilha os links uns sobre os outros*/

@media screen and (max-width: 500px) {
  /* .header{
    float: none;
    display: block;
    text-align: left; 
  }
*/
  h1 {
    display:flex;
  }

  #btnProximo {
    display:flex;
  }
}


h1{
    font-size: 24pt;
    color:rgb(31, 181, 98);
    text-align: center;
    justify-content:center;
    align-items:center;
    padding: 10px;

}

.btn{
  position: relative;
  font-weight: 600;
}

.botao{

    line-height: 34px;
}
#btnSair{
  border: none;
  margin: 0px auto 0px auto;
  border-radius: 16px;
  position: relative;
  padding: 10px 20px 10px 20px;
  font-size: 14px;
  transition-duration: .4s;
  width: 60px;
  outline: 0;
  background-color: #23b23ed1;
 
}

#btnSair:hover{
  
    background-color:#1bd73fd1
 } 


.list-group{
  position: relative;
}

.list-group-item:last-child {
  margin-bottom: 6px;
  background-color: #fff9ea;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #00ba29cf;
  border-color: #00ff37;
  font-size: 38px;
}

 #btnProximo{
  margin: 0px auto 0px auto;
  padding: 0;
  height: auto;
  width: 375px;
}   

#listaParticipantes{
   padding-left: 35%;
   padding-right: 35%;
   position: relative;
   margin: 0px auto 0px auto;
   padding: 0;   
   height: auto; 
   width: 375px;

}

